header {
    height: 10%;
    width: 100%;
    background-color: #ffb90f;
    margin-top: 70px;
}

.img-200 {
    width: 200px;
}

/* HEADER */
html, body {
    height: 100%;
}
header {
height: 15%; 
width: 100%;
background-color: #ffb90f;
margin-top:70px;
/* position: relative; */
}

headernav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

header nav img {

    /* position: absolute;
    width: 200px;
} */

header nav ul {

    /* list-style: none;
} */

header nav ul li {

    /* display: inline-block ;
    margin-left: 150px ;
    color: white;
} */

header nav  form {

/* margin-left: 400px;
} */


main {
    height:650px;
    margin: 40px auto;
    width: 960px;
}

main section article {
    background-image: url('../img/product-1.jpg');
margin: 0 5px 10px 5px;
width:300px;
height: 300px;
background-position: center;
background-size: cover;
display: inline-block ;

}

section article img {
width: 70px;
margin: 5px 0 0 226px;
}

section article div{
    background-color: #101010;
color: white;
height: 40px;
font-size: 20px;
text-align: center;
margin-top: 50px;
}

section article button{
width: 90px;
background-color: #ff4500;
color: white;
height: 40px;
margin: 45px 0 0 110px;

}

footer{
height: 100px; 
width: 100%;
background-color: #ffb90f;
margin-top:70px;
position: relative;
text-align: center;
border-radius: 5px;
color:white;
line-height: 100px;

}