/* header {
    height: 10%;
    width: 100%;
    background-color: #ffb90f;
    margin-top: 70px; */
/* }

.img-200 {
    width: 100px;
}

/* HEADER */
/* html, body {
    height: 100%;
}
header {
height: 15%; 
width: 100%;
background-color: #ffb90f;
margin-top:70px;
position: relative; */ 

/* display: flex;
justify-content: space-between;
width: 45%;
flex-grow: 0.3;
list-style: none;
font-size: 20px;
color: white;
font-weight: bold;
}


header nav img {
    position: absolute;
    width: 200px;
}

header nav ul {

    list-style: none;
}

header nav ul li {

    display: inline-block ;
    margin-left: 150px ;
    color: white;
} */

/* header nav  form {

margin-left: 400px;
}

main {
    height:650px;
    margin: 40px auto;
    width: 960px;
}

main section article {
    background-image: url('../img/product-1.jpg');
margin: 0 5px 10px 5px;
width:300px;
height: 300px;
background-position: center;
background-size: cover;
display: inline-block ; */

/* }

section article img {
width: 70px;
margin: 5px 0 0 226px;
}

section article div{
    background-color: #101010;
color: white;
height: 40px;
font-size: 20px;
text-align: center;
margin-top: 50px;
} */
/* 
section article button{
width: 90px;
background-color: #ff4500;
color: white;
height: 40px;
margin: 45px 0 0 110px;

}

footer{
height: 100px; 
width: 100%;
background-color: #ffb90f;
margin-top:70px;
position: relative;
text-align: center;
border-radius: 5px;
color:white;
line-height: 100px;

} */

/* definindo altura da pagina para conseguir aplicar uma altura 
no elemento header para que consiga trabalhar com porcentagem */
html, body {
    height: 100%;
  }
  
  /* HEADER */
  header {
    height: 15%;
    width: 100%;
    background-color: #ffb90f;
    margin-top: 70px;
  }
  
  header nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  header nav img {
    width: 96px;
  }
  
  header nav ul {
    display: flex;
    justify-content: flex-start;
    width: 45%;
    flex-grow: 0.3;
    list-style: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  
  header nav ul li {
    margin-right: 40px;
  }
  
  /* SECTION DE PRODUTOS */
  main {
    height: 650px;
    margin: 40px auto;
    width: 960px;
  }
  
  main section article {
    display: inline-block;
    justify-content: space-between;
    background-image: url('../img/product-1.jpg');
    margin: 0 15px 15px 0;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  
  section article img {
    width: 70px;
    margin: 5px 0 0 226px;
  }
  
  section article div {
    background: #101010;
    color: white;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
  }
  
  section article button {
    width: 90px;
    height: 40px;
    background: #ff4500;
    color: white;
    margin: 45px 0 0 110px;
  }
  
  /* FOOTER */
  footer {
    width: 100%;
    height: 100px;
    background-color: #ffb90f;
    text-align: center;
    border-radius: 20px 20px 0 0;
    color: white;
    font-size: 20px;
    line-height: 100px;
  }