<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabide das Noivas</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            
            <nav>
                <ul>
                    <li><a href="quem-somos.html">Quem Somos</a></li>
                    <li><a href="vestidos.html">Vestidos</a></li>
                    <li><a href="buscar.html">Buscar</a></li>
                    <li><a href="cadastro.html">Cadastre-se</a></li>
                    <li><a href="login.html">Entre</a></li>
                </ul>
            </nav>

            <a class="logo" href="index.html"><img src="img/logo-white.png" alt="Cabide das Noivas"></a>

        </div>
    </header>
    
        
    
</body>

</html>