body {
    background: url('../img/bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 60%);

        /*
        Outra solução possível, mas mais comprida
        body::before{
            content: "";
            position: fixed;
            top: 0;	left: 0;
            width: 100%; height: 100%;
            background-image: url(../img/bg.jpeg);
            filter: brightness(0.3);
            background-size: cover;
            z-index: -1;
        } */
        
}